.link {
  padding: 0;
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.active::after,
.link:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  width: 100%;
  border: 1px solid var(--color-purple-700);
}

.link:disabled {
  opacity: 1;
}
